@keyframes fadeOutRight {
  from {
    opacity: 1;
    filter: blur(0px);
  }

  to {
    opacity: 0;
    filter: blur(10px);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    filter: blur(0px);
  }

  to {
    opacity: 0;
    filter: blur(10px);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    filter: blur(0px);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    filter: blur(0px);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes registerAnimationIn {
  from {
    transform: rotate(0deg) skewY(0deg);
  }

  to {
    transform: rotate(0deg) skewY(-41deg);
  }
}

@keyframes registerAnimationOut {
  from {
    transform: rotate(0deg) skewY(-41deg);
  }

  to {
    transform: rotate(0deg) skewY(0deg);
  }
}

@keyframes loginAnimationIn {
  from {
    transform: rotate(0deg) skewY(0deg);
  }

  to {
    transform: rotate(10deg) skewY(40deg);
  }
}

@keyframes loginAnimationOut {
  from {
    transform: rotate(10deg) skewY(40deg);
  }

  to {
    transform: rotate(0deg) skewY(0deg);
  }
}

