:root {
  --background: #13131f;
  --color: #ffffff;
  --primary: #6fa7f5;
  --primary-light: #79838f;
  --text-muted: #b3b3b3;

  --padding: 10px;
  --radius: 10px;
  --radius-lg: 40px;

  --fs-base: 16px;
  --fs-md: 20px;
  --fs-lg: 32px;
  --fs-xl: 62px;

  --fw-black: 900;

  --delay: .1s
}
