@use "./common/mixins";

.animation {
  width: 100%;
  height: 100%;
  position: absolute;
  @include mixins.animation(registerAnimationIn);
  z-index: -1;
  transition: 1.5s ease;
  transition-delay: .3s;

  &--login {
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, #183465, var(--primary));
    transform-origin: bottom right;
  }

  &--register {
    top: 0;
    left: 0;
    background: linear-gradient(45deg, var(--primary), #183465);
    transform-origin: bottom left;
  }

  .has-animation & {
    @include mixins.animation(registerAnimationOut);
  }

  @media (min-width: 992px) {
    height: 900px;
  }

  @media (min-width: 1600px) {
    height: 1200px;
  }
}

.info {
  width: 100%;
  padding-inline: calc(var(--padding) * 2);
  margin-top: calc(var(--padding) * 2);

  &__title {
    font-size: var(--fs-xl);
    font-weight: 700;
    opacity: 0;
  }

  &__text {
    font-size: var(--fs-md);
    opacity: 0;
  }

  &--login {
    .info__title {
      @include mixins.animation(fadeInRight);
    }

    .info__text {
      @include mixins.animation(fadeInRight, calc(var(--delay) * 1));
    }
  }

  &--register {
    .info__title {
      @include mixins.animation(fadeInLeft);
    }

    .info__text {
      @include mixins.animation(fadeInLeft, calc(var(--delay) * 1));
    }
  }

  .has-animation & {
    &--login {
      .info__title {
        @include mixins.animation(fadeOutRight);
      }

      .info__text {
        @include mixins.animation(fadeOutRight);
      }
    }

    &--register {
      .info__title {
        @include mixins.animation(fadeOutLeft);
      }

      .info__text {
        @include mixins.animation(fadeOutLeft);
      }
    }
  }

  @media (min-width: 992px) {
    width: 20%;

    &--login {
      text-align: right;
    }
  }

  @media (min-width: 992px) and (max-width: 1400px) {
    width: 40%;
  }

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--padding) * 2);
  margin-bottom: calc(var(--padding) * 5);
  background-color: var(--primary);

  &__button {
    font-size: var(--fs-lg);
  }
}

